* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.heading {
    font-style: italic;
    font-size: 48pt;
}

.content {
    font-weight: bold;
    font-size: 18pt;
}

.small-text {
    font-size: 12pt;
}

.card-container {
    background: linear-gradient(135deg, #ffe0e3 30%, #a7e0e5 70%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}